# Sentinel-AI Configuration
PROVIDER=deepseek
API_KEY=xxxx
DEEPSEEK_API_BASE=https://api.deepseek.com/v1
ADMIN_IP=192.168.1.100
HITL=True
CHROMA_PERSIST_DIR=./chroma_db
#LOG_PATH=/var/log/auth.log
LOG_PATH=c:\\temp\\log\\auth.log
MAX_FAILED_ATTEMPTS=5
TEMPERATURE=0.1